/*body {
    padding: 30px 0px;
}*/
#bg-div{
    background-image: url(http://www.sonomamarintrain.org/sites/default/files/Images/secondary-banner_0.jpg);
    background-size: cover;
    width: 100%;
}
#bg{
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    border-bottom: 1px #f03c0b solid;
    height: 450px;
    
}
.travelling .text {
    text-align: center;
    padding-top: 230px;
}
.travelling .text p{
    text-transform: uppercase;
    font-size: 50px;
    color:white;
    letter-spacing: 5%;
    margin-bottom: 10%;
    /*line-height: 40;*/
}
.tags{
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}
.tags button {
    margin: 10px 5px;
    border-radius: 12px;
    color: #a1a1a1;
    font-size: 13px;

}
.tags button:hover{
    color: #f03c0b;
    border-color: #f03c0b;
    background-color: white;
}
#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    
    z-index:1032;
}
.text h3{
    color: #9a9a9b;
}
.text h6{
    color: #e6562f;
}
